@import "@fontsource/poppins";
@import "@fontsource/raleway";

@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 500px;
  width: 100%;
}

/* Estilos para encabezados */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: semibold;
  font-size: 2.25rem;
  line-height: 1;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: medium;
  font-size: 2rem;
  line-height: 2.5rem;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: medium;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h5 {
  font-weight: medium;
  font-size: 1.5rem;
  line-height: 2rem;
}

h6 {
  font-family: "Raleway", sans-serif;
  font-weight: medium;
  font-size: 1.125rem;
  line-height: 1.5rem;
}


.slick-next:before,
.slick-prev:before {
  color: #003624 !important;
}

.rotate-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease; /* Optional: Add transition for a smooth animation */
}

.rotate-down {
  transform: rotate(0deg);
  transition: transform 0.3s ease; /* Optional: Add transition for a smooth animation */
}